Numpy - 
  np.array
  np.ndarray
  
Pandas -
  pd.Series
  pd.DataFrame

# Pandas data structure
* Pandas is built around two collection objects
  * DataFrame
    * Tabular data structure
    * Consists of 
       * columns (each of which is a series)
       * index: name(s) attached to rows
       * Can be accessed as collection of rows and/or columns
  * Series  
    * Similar to a Numpy array
    * Consists of a name, values and *index* 
      * Numpy arrays do not have an index
    * The values and indices are themselves Numpy arrays

In [1]:
import pandas as pd

# implicit index
series = pd.Series([10, 20, 30])
print(series)
print

# explicit index
series = pd.Series([0, 1, 2, 3], index=["zero", "one", "two", "three"])
print(series)
print

# implicit index
capitals = pd.Series({
      'France': 'Paris',
      'Japan': 'Tokyo', 
      'Germany': 'Berlin'})
print(capitals)

0    10
1    20
2    30
dtype: int64
zero     0
one      1
two      2
three    3
dtype: int64
France      Paris
Japan       Tokyo
Germany    Berlin
dtype: object

In [2]:
import numpy as np
numpy_arr = np.random.rand(3)
#creating 3 random number in a numpy array.

import pandas as pd

pdseries = pd.Series(numpy_arr)
#Saving the numpy array in the pandas series. 
print(pdseries)
type(pdseries)

0    0.664064
1    0.775704
2    0.498049
dtype: float64

pandas.core.series.Series

In [3]:
pd_df = pd.DataFrame(np.random.rand(3,2))
type(pd_df)

pandas.core.frame.DataFrame

In [4]:
pd_df

          0         1
0  0.463266  0.645412
1  0.044415  0.090847
2  0.853511  0.811784

In [5]:
series = pd.Series(numpy_arr)
series

0    0.664064
1    0.775704
2    0.498049
dtype: float64

In [6]:
print(numpy_arr)

[0.66406424 0.77570413 0.49804857]

In [7]:
numpy_arr[0]

0.6640642397176975

In [8]:
series[0]

0.6640642397176975

In [0]:
series = pd.Series(numpy_arr, index=['First','Second','Third'])

In [10]:
series['First']

0.6640642397176975

In [11]:
series.First
#avoid

0.6640642397176975

In [12]:
series[0]

0.6640642397176975

In [13]:
series

First     0.664064
Second    0.775704
Third     0.498049
dtype: float64

In [14]:
print(pd_df.columns)

RangeIndex(start=0, stop=2, step=1)

In [15]:
pd_df

          0         1
0  0.463266  0.645412
1  0.044415  0.090847
2  0.853511  0.811784

In [0]:
pd_df.columns = ['First','Second']

In [0]:
pd_df=pd_df.rename(columns = {'First':'new_name'})

In [18]:
pd_df

   new_name    Second
0  0.463266  0.645412
1  0.044415  0.090847
2  0.853511  0.811784

In [0]:
pd_df=pd_df.rename(columns = {'new_name':'First'})

In [20]:
pd_df.Second

0    0.645412
1    0.090847
2    0.811784
Name: Second, dtype: float64

In [21]:
pd_df['Second']

0    0.645412
1    0.090847
2    0.811784
Name: Second, dtype: float64

Since it is only one column here, it is a series, not a data frame.

Pandas compatible data sources -


*   Text File
    *   CSV
    *   JSON
    *   HTML
*   Binary Files
*   Relational Databases

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/dipbanik/MyTectraAugust/master/Data_Manipulation/artwork_data.csv', nrows=5)

In [24]:
df.head()

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2  1037  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3  1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4  1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[5 rows x 20 columns]

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/dipbanik/MyTectraAugust/master/Data_Manipulation/artwork_data.csv', nrows=5, index_col='id', usecols=['id','artist'])

In [27]:
df

              artist
id
1035   Blake, Robert
1036   Blake, Robert
1037   Blake, Robert
1038   Blake, Robert
1039  Blake, William

In [0]:
cols_to_use = ['id','artist', 'title','medium',	'year',	'acquisitionYear', 
               'width',	'height', 'units']

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/dipbanik/MyTectraAugust/master/Data_Manipulation/artwork_data.csv', usecols=cols_to_use, index_col='id', low_memory=False)
#selected few columns from the csv using usecols and set low memory = false so that the big data could be loaded.
#set the index column to the id field.

In [31]:
df.shape

(69201, 8)

In [32]:
df.head(3)

             artist  ... units
id                   ...
1035  Blake, Robert  ...    mm
1036  Blake, Robert  ...    mm
1037  Blake, Robert  ...    mm

[3 rows x 8 columns]

In [33]:
len(set(df['artist']))

3336

How many distinct artists are there in the dataset?

How many artworks by Francis Bacon are there?

What is the artwork with the biggest dimensions?

In [34]:
df['artist']
#this will give us a series

id
1035                                          Blake, Robert
1036                                          Blake, Robert
1037                                          Blake, Robert
1038                                          Blake, Robert
1039                                         Blake, William
1040                                         Blake, William
1041                                         Blake, William
1042                                         Blake, William
1043                                         Blake, William
1044                                         Blake, William
1045                                         Blake, William
1046                                         Blake, William
1047                                         Blake, William
1048                                         Blake, William
1049                                         Blake, William
1050                                         Blake, William
1051                                         Blake, William
1052                                         Blake, William
1053                                         Blake, William
1054                                         Blake, William
1055                                         Blake, William
1056                                         Blake, William
1057                                         Blake, William
1058                                         Blake, William
1059                                         Blake, William
1060                                         Blake, William
1061                                         Blake, William
1062                                         Blake, William
1063                                         Blake, William
1064                                         Blake, William
                                ...
121196                                     Barlow, Phyllida
121197                                     Barlow, Phyllida
121198                                     Barlow, Phyllida
115637                                         Latham, John
115638                                         Latham, John
122545                                         Kirkeby, Per
120104                                  Karamustafa, Gulsun
121565                                       Walker, Kelley
116157                                      Bulloch, Angela
117761                                       Atlas, Charles
115217    T R Uthco (Doug Hall born 1944, Diane Andrews ...
122537                                      Gordon, Douglas
120527                                         Black, Karla
127128                                         Lord, Andrew
127129                                         Lord, Andrew
127130                                         Lord, Andrew
127131                                         Lord, Andrew
121283                                          Rhodes, Lis
129068                                         Lord, Andrew
117863                                 Andrade, Jonathas de
120549                                        Oursler, Tony
123620                                        Sterne, Hedda
122900                                      Flanagan, Barry
122958                                   P-Orridge, Genesis
122959                                   P-Orridge, Genesis
122960                                   P-Orridge, Genesis
122961                                   P-Orridge, Genesis
121181                                         Hatoum, Mona
112306                                        Creed, Martin
127035                                    Brunias, Agostino
Name: artist, Length: 69201, dtype: object

In [35]:
df[['artist','title']]
#this will give us a dataset

                                                   artist                                              title
id
1035                                        Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1036                                        Blake, Robert  Two Drawings of Frightened Figures, Probably f...
1037                                        Blake, Robert  The Preaching of Warning. Verso: An Old Man En...
1038                                        Blake, Robert     Six Drawings of Figures with Outstretched Arms
1039                                       Blake, William  The Circle of the Lustful: Francesca da Rimini...
1040                                       Blake, William      Ciampolo the Barrator Tormented by the Devils
1041                                       Blake, William                        The Baffled Devils Fighting
1042                                       Blake, William  The Six-Footed Serpent Attacking Agnolo Brunel...
1043                                       Blake, William                 The Serpent Attacking Buoso Donati
1044                                       Blake, William                 The Pit of Disease: The Falsifiers
1045                                       Blake, William           Dante Striking against Bocca Degli Abati
1046                                       Blake, William                                 Job and his Family
1047                                       Blake, William                     Satan before the Throne of God
1048                                       Blake, William      Job’s Sons and Daughters Overwhelmed by Satan
1049                                       Blake, William         The Messengers tell Job of his Misfortunes
1050                                       Blake, William  Satan Going Forth from the Presence of the Lor...
1051                                       Blake, William                  Satan Smiting Job with Sore Boils
1052                                       Blake, William                                   Job’s Comforters
1053                                       Blake, William                                      Job’s Despair
1054                                       Blake, William                              The Vision of Eliphaz
1055                                       Blake, William                         Job Rebuked by his Friends
1056                                       Blake, William                                  Job’s Evil Dreams
1057                                       Blake, William                                 The Wrath of Elihu
1058                                       Blake, William        The Lord Answering Job out of the Whirlwind
1059                                       Blake, William               When the Morning Stars Sang Together
1060                                       Blake, William                             Behemoth and Leviathan
1061                                       Blake, William                                  The Fall of Satan
1062                                       Blake, William                               The Vision of Christ
1063                                       Blake, William                                    Job’s Sacrifice
1064                                       Blake, William           Every Man also Gave him a Piece of Money
...                                                   ...                                                ...
121196                                   Barlow, Phyllida                                           Untitled
121197                                   Barlow, Phyllida                                           Untitled
121198                                   Barlow, Phyllida                                           Untitled
115637                                       Latham, John                    Unedited Material From the Star
115638                                       Latham, John                            Encyclopedia Britannica
122545                                       Kirkeby, Per                                        Composition
120104                                Karamustafa, Gulsun                                 Memory of a Square
121565                                     Walker, Kelley                          Will We Ever Kill The Bug
116157                                    Bulloch, Angela                                        Aluminium 4
117761                                     Atlas, Charles                               Joints 4tet Ensemble
115217  T R Uthco (Doug Hall born 1944, Diane Andrews ...                                  The Eternal Frame
122537                                    Gordon, Douglas                                       Feature Film
120527                                       Black, Karla                                           At Fault
127128                                       Lord, Andrew                                  Three Vases. Fist
127129                                       Lord, Andrew                                             biting
127130                                       Lord, Andrew                                          breathing
127131                                       Lord, Andrew                 Untitled (from the Gauguin Series)
121283                                        Rhodes, Lis                                        Light Music
129068                                       Lord, Andrew         Coffee service and tray. Impressionist set
117863                               Andrade, Jonathas de                                  Tropical Hangover
120549                                      Oursler, Tony                              The Influence Machine
123620                                      Sterne, Hedda                                       NY, NY No. X
122900                                    Flanagan, Barry                                          sand girl
122958                                 P-Orridge, Genesis                   Venus Mound (from Tampax Romana)
122959                                 P-Orridge, Genesis   It’s That Time Of The Month (from Tampax Romana)
122960                                 P-Orridge, Genesis                        Larvae (from Tampax Romana)
122961                                 P-Orridge, Genesis                   Living Womb (from Tampax Romana)
121181                                       Hatoum, Mona                                      Present Tense
112306                                      Creed, Martin          Work No. 227: The lights going on and off
127035                                  Brunias, Agostino                   Dancing Scene in the West Indies

[69201 rows x 2 columns]

In [36]:
#Count the number of artists in our dataset
len(set(df['artist']))

3336

In [37]:
#pandas way -
uni = pd.unique(df['artist'])
print(uni)

['Blake, Robert' 'Blake, William' 'Richmond, George' ... 'Sterne, Hedda'
 'P-Orridge, Genesis' 'Brunias, Agostino']

In [38]:
len(uni)

3336

In [39]:
s = df['artist'] == 'Bacon, Francis'
s.value_counts()

False    69151
True        50
Name: artist, dtype: int64

loc by label. 

iloc by position.

df.loc[row indexer , column indexer ]

df.loc['35, 'artist' ]

df.loc[df['artist'] == 'Bacon, Francis' , : ]

the above statement returns a pandas series for the row indexer with true false in it and the : says that select all columns.

df.iloc[ 100:300 , [0,1,4] ]
df.iloc[ : , [1,3,4] ]

in iloc we cannot use the labels. we have to provide the positions instead.

In [40]:
df.loc[1035,'artist']

'Blake, Robert'

In [41]:
df.iloc[0,0]

'Blake, Robert'

In [42]:
df.iloc[0:2,0:2]

             artist                                              title
id
1035  Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1036  Blake, Robert  Two Drawings of Frightened Figures, Probably f...

In [0]:
# find the artwork with the biggest area/dimensions

In [44]:
df.head()

              artist  ... units
id                    ...
1035   Blake, Robert  ...    mm
1036   Blake, Robert  ...    mm
1037   Blake, Robert  ...    mm
1038   Blake, Robert  ...    mm
1039  Blake, William  ...    mm

[5 rows x 8 columns]

In [45]:
df.columns

Index(['artist', 'title', 'medium', 'year', 'acquisitionYear', 'width',
       'height', 'units'],
      dtype='object')

In [46]:
df['height'] * df['width']
#we will get error for this line as they are object types, not value types

TypeError: ignored

In [47]:
type(df['height'])

pandas.core.series.Series

In [48]:
type(df['width'])

pandas.core.series.Series

In [49]:
df['width']

id
1035       394
1036       311
1037       343
1038       318
1039       243
1040       240
1041       242
1042       246
1043       241
1044       243
1045       236
1046       184
1047       197
1048       197
1049       200
1050       198
1051       198
1052       198
1053       199
1054       198
1055       198
1056       197
1057       200
1058       198
1059       191
1060       200
1061       186
1062       200
1063       198
1064       197
          ...
121196     558
121197     380
121198     560
115637     NaN
115638     NaN
122545    2093
120104     NaN
121565     NaN
116157     NaN
117761     NaN
115217     NaN
122537     NaN
120527     NaN
127128     368
127129     705
127130     408
127131     410
121283     NaN
129068      57
117863     NaN
120549     NaN
123620     810
122900     NaN
122958     305
122959     305
122960     305
122961     305
121181      45
112306     NaN
127035     508
Name: width, Length: 69201, dtype: object

In [50]:
#The problem is that our input data is dirty. Let's check what is wrong. 
df['width'].sort_values().head()
#these contains strings...

id
20822            (1):
105337    (diameter):
98671         (each):
76420         (each):
91391        (image):
Name: width, dtype: object

In [51]:
df['width'].sort_values().tail()
#NaN stands for Not a Number. These are originally missing values.

id
121283    NaN
117863    NaN
120549    NaN
122900    NaN
112306    NaN
Name: width, dtype: object

In [0]:
df.loc[: , 'width'] = pd.to_numeric(df['width'], errors='coerce')
#coerce is used to remove all errors and still convert to numeric type.
#look at the dtype now. Float64 while it was object previously.

In [53]:
df['width'].sort_values().head()

id
9453      3.0
21771     5.0
21770     9.0
8976     10.0
509      10.0
Name: width, dtype: float64

In [0]:
#repeat for height column

df.loc[: , 'height'] = pd.to_numeric(df['height'], errors='coerce')

In [55]:
df['height'] * df['width']

id
1035       165086.0
1036        66243.0
1037       160181.0
1038       125292.0
1039        81405.0
1040        81120.0
1041        80828.0
1042        83640.0
1043        80735.0
1044        82620.0
1045        80240.0
1046        27600.0
1047        29747.0
1048        30141.0
1049        30400.0
1050        30096.0
1051        30294.0
1052        30294.0
1053        29850.0
1054        30096.0
1055        30096.0
1056        29944.0
1057        30200.0
1058        29898.0
1059        28650.0
1060        30200.0
1061        27900.0
1062        30200.0
1063        29700.0
1064        29550.0
            ...
121196     424080.0
121197     215080.0
121198     426720.0
115637          NaN
115638          NaN
122545    3514147.0
120104          NaN
121565          NaN
116157          NaN
117761          NaN
115217          NaN
122537          NaN
120527          NaN
127128      98256.0
127129     331350.0
127130      83640.0
127131     129970.0
121283          NaN
129068       3249.0
117863          NaN
120549          NaN
123620     935550.0
122900          NaN
122958      93025.0
122959      93025.0
122960      93025.0
122961      93025.0
121181     108450.0
112306          NaN
127035     335280.0
Length: 69201, dtype: float64

In [0]:
#Assign to create a new column in your dataset
df = df.assign(area = df['height'] * df['width'])

In [57]:
df.head()

              artist  ...      area
id                    ...
1035   Blake, Robert  ...  165086.0
1036   Blake, Robert  ...   66243.0
1037   Blake, Robert  ...  160181.0
1038   Blake, Robert  ...  125292.0
1039  Blake, William  ...   81405.0

[5 rows x 9 columns]

In [58]:
df['area'].max()

132462000.0

In [59]:
df['area'].idxmax()

98367

In [60]:
type(df.loc[df['area'].idxmax(), : ])

pandas.core.series.Series

In [61]:
df['area'].isna()

id
1035      False
1036      False
1037      False
1038      False
1039      False
1040      False
1041      False
1042      False
1043      False
1044      False
1045      False
1046      False
1047      False
1048      False
1049      False
1050      False
1051      False
1052      False
1053      False
1054      False
1055      False
1056      False
1057      False
1058      False
1059      False
1060      False
1061      False
1062      False
1063      False
1064      False
          ...
121196    False
121197    False
121198    False
115637     True
115638     True
122545    False
120104     True
121565     True
116157     True
117761     True
115217     True
122537     True
120527     True
127128    False
127129    False
127130    False
127131    False
121283     True
129068    False
117863     True
120549     True
123620    False
122900     True
122958    False
122959    False
122960    False
122961    False
121181    False
112306     True
127035    False
Name: area, Length: 69201, dtype: bool

In [62]:
df['area'].isna().value_counts()

False    65833
True      3368
Name: area, dtype: int64

##Groups

Aggregation : Example -
What was the first acquired artwork for each artist?

Transformation : Missing Values - Nan
Remove the row
replace value with mean/median/mode.

Filtering : Select only those rows that matter to us. Data of united states in countries.csv dataset.

In [0]:
fd_new = df.groupby('artist')

In [0]:
#making a smaller slice
small_df = df.iloc[49980 : 50019,  : ].copy()

In [93]:
small_df.shape

(39, 9)

In [66]:
small_df.head()

      artist       title                         medium  ... height  units     area
id                                                       ...
16412   Wols  [no title]               Etching on paper  ...   80.0     mm  10400.0
16413   Wols  [no title]  Etching and drypoint on paper  ...  102.0     mm  19074.0
16414   Wols  [no title]  Etching and drypoint on paper  ...  168.0     mm  41664.0
16415   Wols  [no title]  Etching and drypoint on paper  ...  102.0     mm  15198.0
16416   Wols  [no title]  Etching and drypoint on paper  ...  120.0     mm  24360.0

[5 rows x 9 columns]

In [0]:
grouped = small_df.groupby('artist')

In [68]:
set(small_df['artist'])

{'Frost, Sir Terry', 'Phillips, Esq Tom', 'Wols'}

In [69]:
grouped

In [70]:
for name, group_df in grouped:
  #if name == 'Phillips, Esq Tom':
    print(name)
    print(group_df)

Frost, Sir Terry
                artist            title  ... units     area
id                                       ...
4704  Frost, Sir Terry        Blue Moon  ...    mm  96915.0
4705  Frost, Sir Terry      Boat Shapes  ...    mm  18876.0
4706  Frost, Sir Terry      Boat Shapes  ...    mm  20305.0
4707  Frost, Sir Terry      Boat Shapes  ...    mm  51531.0
4708  Frost, Sir Terry            Leeds  ...    mm  20875.0
4709  Frost, Sir Terry  Camping, Anduze  ...    mm  53713.0
4710  Frost, Sir Terry     Umea, Sweden  ...   NaN      NaN
4711  Frost, Sir Terry    Self-Portrait  ...    mm  55400.0

[8 rows x 9 columns]
Phillips, Esq Tom
                  artist       title            medium  ... height  units     area
id                                                      ...
11838  Phillips, Esq Tom  [colophon]  Etching on paper  ...  204.0     mm  59568.0

[1 rows x 9 columns]
Wols
      artist       title                         medium  ... height  units     area
id                                                       ...
16412   Wols  [no title]               Etching on paper  ...   80.0     mm  10400.0
16413   Wols  [no title]  Etching and drypoint on paper  ...  102.0     mm  19074.0
16414   Wols  [no title]  Etching and drypoint on paper  ...  168.0     mm  41664.0
16415   Wols  [no title]  Etching and drypoint on paper  ...  102.0     mm  15198.0
16416   Wols  [no title]  Etching and drypoint on paper  ...  120.0     mm  24360.0
16417   Wols  [no title]               Etching on paper  ...   79.0     mm  10270.0
16418   Wols  [no title]  Etching and drypoint on paper  ...   98.0     mm  12152.0
16419   Wols  [no title]  Etching and drypoint on paper  ...   89.0     mm  12460.0
16420   Wols  [no title]  Etching and drypoint on paper  ...   86.0     mm  12040.0
16421   Wols  [no title]  Etching and drypoint on paper  ...   79.0     mm   6557.0
16422   Wols  [no title]  Etching and drypoint on paper  ...  146.0     mm  29200.0
16423   Wols  [no title]               Etching on paper  ...   98.0     mm   5880.0
16424   Wols  [no title]  Etching and drypoint on paper  ...   98.0     mm  12152.0
16425   Wols  [no title]               Etching on paper  ...   98.0     mm  12152.0
16426   Wols  [no title]  Etching and drypoint on paper  ...  118.0     mm  24072.0
16427   Wols  [no title]  Etching and drypoint on paper  ...   98.0     mm  10290.0
16428   Wols  [no title]  Etching and drypoint on paper  ...  149.0     mm  29353.0
16429   Wols  [no title]  Etching and drypoint on paper  ...  120.0     mm  12240.0
16430   Wols  [no title]  Etching and drypoint on paper  ...   95.0     mm  11210.0
16431   Wols  [no title]  Etching and drypoint on paper  ...   79.0     mm  11060.0
16432   Wols  [no title]  Etching and drypoint on paper  ...   95.0     mm  11780.0
16433   Wols  [no title]  Etching and drypoint on paper  ...   73.0     mm   7665.0
16434   Wols  [no title]  Etching and drypoint on paper  ...  102.0     mm  12342.0
16435   Wols  [no title]  Etching and drypoint on paper  ...   92.0     mm  11132.0
16436   Wols  [no title]  Etching and drypoint on paper  ...   98.0     mm  12152.0
16437   Wols  [no title]  Etching and drypoint on paper  ...   98.0     mm  12152.0
16438   Wols  [no title]  Etching and drypoint on paper  ...   98.0     mm  12152.0
16439   Wols  [no title]  Etching and drypoint on paper  ...   70.0     mm   7140.0
16440   Wols  [no title]  Etching and drypoint on paper  ...   70.0     mm   7350.0
16441   Wols  [no title]  Etching and drypoint on paper  ...  248.0     mm  80352.0

[30 rows x 9 columns]

In [71]:
#Aggregate
#Mins
#it loops through one by one every grouping that it has done.
for name, group_df in small_df.groupby('artist') :
  min_year = group_df['acquisitionYear'].min()
  print("{}: {}".format(name, min_year))
  input()

Frost, Sir Terry: 1983.0

Phillips, Esq Tom: 1983.0

Wols: 1983.0

In [72]:
df.head()

              artist  ...      area
id                    ...
1035   Blake, Robert  ...  165086.0
1036   Blake, Robert  ...   66243.0
1037   Blake, Robert  ...  160181.0
1038   Blake, Robert  ...  125292.0
1039  Blake, William  ...   81405.0

[5 rows x 9 columns]

In [73]:
df['acquisitionYear']

id
1035      1922.0
1036      1922.0
1037      1922.0
1038      1922.0
1039      1919.0
1040      1919.0
1041      1919.0
1042      1919.0
1043      1919.0
1044      1919.0
1045      1919.0
1046      1919.0
1047      1919.0
1048      1919.0
1049      1919.0
1050      1919.0
1051      1919.0
1052      1919.0
1053      1919.0
1054      1919.0
1055      1919.0
1056      1919.0
1057      1919.0
1058      1919.0
1059      1919.0
1060      1919.0
1061      1919.0
1062      1919.0
1063      1919.0
1064      1919.0
           ...
121196    2013.0
121197    2013.0
121198    2013.0
115637    2013.0
115638    2013.0
122545    2013.0
120104    2013.0
121565    2013.0
116157    2013.0
117761    2013.0
115217    2013.0
122537    2013.0
120527    2013.0
127128    2013.0
127129    2013.0
127130    2013.0
127131    2013.0
121283    2013.0
129068    2013.0
117863    2013.0
120549    2013.0
123620    2013.0
122900    2013.0
122958    2013.0
122959    2013.0
122960    2013.0
122961    2013.0
121181    2013.0
112306    2013.0
127035    2013.0
Name: acquisitionYear, Length: 69201, dtype: float64

In [74]:
#df.groupby('artist').agg(np.min)
df.groupby('artist').min()

                                                                                                title  ...        area
artist                                                                                                 ...
?British School                                     Portrait of a Gentleman, probably of the West ...  ...   1044050.0
Abakanowicz, Magdalena                                                                  Abakan Orange  ...         NaN
Abbey, Edwin Austin                                              Illustration to ‘Judith Shakespeare’  ...     74045.0
Abbott, Berenice                                                                 Dinty Moore Antiques  ...     43200.0
Abbott, Lemuel Francis                                                      Henry Byne, of Carshalton  ...    449570.0
Abrahams, Ivor                                                                 A Dream Within a Dream  ...     18358.0
Absalon                                                                                Assassinations  ...  10290000.0
Abts, Tomma                                                                                     Noeme  ...    182400.0
Acconci, Vito                                                       3 Flags for 1 Space and 6 Regions  ...    822822.0
Ackling, Roger                                                               Five Sunsets in One Hour  ...    204786.0
Ackroyd, Norman                                                                    1st Millbank Print  ...     10830.0
Adam, Robert                                                                    A Chasm, with Figures  ...     75460.0
Adams, Harry William                                                                   Winter’s Sleep  ...   2257066.0
Adams, Norman                                                          Christ’s Cross and Adam’s Tree  ...    789696.0
Adams, Robert                                                                                  Figure  ...     57500.0
Adeney, Bernard                                                     Toy Sailing Boats, the Round Pond  ...   6937248.0
Adler, Jankel                                                                           No Man’s Land  ...     78061.0
Adshead, Mary                                                                 Morning after the Flood  ...    219905.0
Adzak, Roy                                                                          Cut Bottle Relief  ...    133980.0
Afro                                                                                     The Struggle  ...     56070.0
Agar, Eileen                                                                         Angel of Anarchy  ...     57750.0
Agasse, Jacques Laurent                             Lord Rivers’s Groom Leading a Chestnut Hunter ...  ...    412500.0
Ahtila, Eija-Liisa                                                                Consolation Service  ...         NaN
Ai, Weiwei                                                                            Sunflower Seeds  ...   4140000.0
Aitchison, Craigie                                                                             Africa  ...    368940.0
Ajmone, Giuseppe                                                                               Autumn  ...    646056.0
Aksel, Erdag                                                                      Reflection of Craft  ...   1045000.0
Al-Ani, Jananne                                                                             The Visit  ...         NaN
Albers, Josef                                                                                    Beta  ...     19890.0
Albright, Ivan                                                     Josephine Medill Paterson Albright  ...     77850.0
...                                                                                               ...  ...         ...
Yass, Catherine                                                                Bankside: Cherrypicker  ...    345440.0
Yeames, William Frederick                                                                 Amy Robsart  ...   5306275.0
Yeats, Jack Butler                                                           A Rose Among Many Waters  ...     84113.0
Yhap, Laetitia                                                             Michael Balling Up Old Net  ...   1802680.0
Yiadom-Boakye, Lynette                                                                  10pm Saturday  ...   2600000.0
Young, Carey                                        Body Techniques (after A Line in Ireland, Rich...  ...   1702943.0
Young, Robert                                                                           Sounds Inside  ...    379748.0
Young-Hae Chang Heavy Industries (Young-Hae Cha...                                             TEASER  ...         NaN
Young-Hunter, John                                                                   My Lady’s Garden  ...   1944074.0
Yuon, Konstantin                                                             The Monastery at Zagorsk  ...    131781.0
Yvaral, Jean-Pierre                                             Kinetic Relief - Optical Acceleration  ...   1000910.0
Zaatari, Akram                                      A fisherman with his daughters. Saqqa family h...  ...     34050.0
Zack, Leon                                                                                   Painting  ...   1272375.0
Zadkine, Ossip                                                                                Acrobat  ...    130052.0
Zakanitch, Robert Rahway                                                        Double Geese Mountain  ...    347750.0
Zao, Wou-ki                                                                          Before the Storm  ...    388788.0
Zhang, Enli                                                                                  Bucket 3  ...    988036.0
Ziegler, Toby                                                 The Hedonistic Imperative (2nd version)  ...   2275000.0
Zipp, Thomas                                                                                  achtung  ...         NaN
Zittel, Andrea                                      A-Z Comfort Unit with Special Comfort Features...  ...         NaN
Zmijewski, Artur                                                                          Democracies  ...         NaN
Zoffany, Johan                                                               A Florentine Fruit Stall  ...     33687.0
Zorio, Gilberto                                                                                Hatred  ...    139125.0
Zox, Larry                                                                                Orange Time  ...   5562915.0
Zuccarelli, Francesco                               A Landscape with the Story of Cadmus Killing t...  ...   1987008.0
Zuloaga, Ignacio                                                                 View of the Escorial  ...    118552.0
Zyw, Aleksander                                                                                 Light  ...    618308.0
di Suvero, Mark                                                                                 Tetra  ...    971136.0
van Elk, Ger                                                                                 Lunch II  ...    800000.0
Štyrský, Jindrich                                                                            Untitled  ...         NaN

[3336 rows x 5 columns]

In [0]:
#Transformation
#Equivalent of editing by hand:
#Make a case where there is no data to infer
small_df.loc[[11838,16441], 'medium'] = np.nan

In [76]:
small_df.loc[[11838,16441], :]

                  artist       title medium  year  ...  width  height  units     area
id                                                 ...
11838  Phillips, Esq Tom  [colophon]    NaN  1979  ...  292.0   204.0     mm  59568.0
16441               Wols  [no title]    NaN  1937  ...  324.0   248.0     mm  80352.0

[2 rows x 9 columns]

In [0]:
include = small_df['medium'].isna()

In [78]:
include

id
16412    False
16413    False
16414    False
16415    False
16416    False
16417    False
16418    False
16419    False
16420    False
16421    False
16422    False
16423    False
16424    False
16425    False
16426    False
16427    False
16428    False
16429    False
16430    False
16431    False
16432    False
16433    False
16434    False
16435    False
16436    False
16437    False
16438    False
16439    False
16440    False
16441     True
4704     False
4705     False
4706     False
4707     False
4708     False
4709     False
4710     False
4711     False
11838     True
Name: medium, dtype: bool

In [0]:
include = [not i for i in include]

In [136]:
include

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False]

In [197]:
small_df.shape

(39, 8)

In [0]:
small_df = small_df[include]

In [205]:
small_df['medium'] != float('nan')

id
16412    True
16413    True
16414    True
16415    True
16416    True
16417    True
16418    True
16419    True
16420    True
16421    True
16422    True
16423    True
16424    True
16425    True
16426    True
16427    True
16428    True
16429    True
16430    True
16431    True
16432    True
16433    True
16434    True
16435    True
16436    True
16437    True
16438    True
16439    True
16440    True
16441    True
4704     True
4705     True
4706     True
4707     True
4708     True
4709     True
4710     True
4711     True
11838    True
Name: medium, dtype: bool

In [0]:
small_df = small_df.dropna(subset=['medium'])

In [81]:
small_df.shape

(37, 9)

In [0]:
#this does not work for some reason
#small_df = small_df[small_df['medium'] != np.nan]

In [84]:
small_df.shape

(37, 9)

In [85]:
small_df.shape

(37, 9)

In [0]:
minval = list(small_df['medium'].mode())

In [122]:
set(small_df['medium'])

{'Drypoint on paper',
 'Etching and drypoint on paper',
 'Etching on paper',
 'Linocut on paper',
 'Lithograph on paper',
 nan}

In [123]:
minval

['Etching and drypoint on paper']

In [0]:
#making a smaller slice
small_df = df.iloc[49980 : 50019,  : ].copy()

In [0]:
#Transformation
#Equivalent of editing by hand:
#Make a case where there is no data to infer
small_df.loc[[11838,16441], 'medium'] = np.nan

In [0]:
impute = small_df['medium'].isna()

In [115]:
impute.shape

(39,)

In [116]:
impute

id
16412    False
16413    False
16414    False
16415    False
16416    False
16417    False
16418    False
16419    False
16420    False
16421    False
16422    False
16423    False
16424    False
16425    False
16426    False
16427    False
16428    False
16429    False
16430    False
16431    False
16432    False
16433    False
16434    False
16435    False
16436    False
16437    False
16438    False
16439    False
16440    False
16441     True
4704     False
4705     False
4706     False
4707     False
4708     False
4709     False
4710     False
4711     False
11838     True
Name: medium, dtype: bool

In [0]:
vals = []
i = -1
for im  in impute :
  
  i = i + 1
  if im == True:
    vals.append(i)

In [118]:
vals

[29, 38]

In [0]:
minval = str(minval[0])

In [130]:
minval

'Etching and drypoint on paper'

In [0]:
minval

In [0]:
small_df.iloc[vals,2] = minval

In [127]:
small_df

                  artist            title  ... units     area
id                                         ...
16412               Wols       [no title]  ...    mm  10400.0
16413               Wols       [no title]  ...    mm  19074.0
16414               Wols       [no title]  ...    mm  41664.0
16415               Wols       [no title]  ...    mm  15198.0
16416               Wols       [no title]  ...    mm  24360.0
16417               Wols       [no title]  ...    mm  10270.0
16418               Wols       [no title]  ...    mm  12152.0
16419               Wols       [no title]  ...    mm  12460.0
16420               Wols       [no title]  ...    mm  12040.0
16421               Wols       [no title]  ...    mm   6557.0
16422               Wols       [no title]  ...    mm  29200.0
16423               Wols       [no title]  ...    mm   5880.0
16424               Wols       [no title]  ...    mm  12152.0
16425               Wols       [no title]  ...    mm  12152.0
16426               Wols       [no title]  ...    mm  24072.0
16427               Wols       [no title]  ...    mm  10290.0
16428               Wols       [no title]  ...    mm  29353.0
16429               Wols       [no title]  ...    mm  12240.0
16430               Wols       [no title]  ...    mm  11210.0
16431               Wols       [no title]  ...    mm  11060.0
16432               Wols       [no title]  ...    mm  11780.0
16433               Wols       [no title]  ...    mm   7665.0
16434               Wols       [no title]  ...    mm  12342.0
16435               Wols       [no title]  ...    mm  11132.0
16436               Wols       [no title]  ...    mm  12152.0
16437               Wols       [no title]  ...    mm  12152.0
16438               Wols       [no title]  ...    mm  12152.0
16439               Wols       [no title]  ...    mm   7140.0
16440               Wols       [no title]  ...    mm   7350.0
16441               Wols       [no title]  ...    mm  80352.0
4704    Frost, Sir Terry        Blue Moon  ...    mm  96915.0
4705    Frost, Sir Terry      Boat Shapes  ...    mm  18876.0
4706    Frost, Sir Terry      Boat Shapes  ...    mm  20305.0
4707    Frost, Sir Terry      Boat Shapes  ...    mm  51531.0
4708    Frost, Sir Terry            Leeds  ...    mm  20875.0
4709    Frost, Sir Terry  Camping, Anduze  ...    mm  53713.0
4710    Frost, Sir Terry     Umea, Sweden  ...   NaN      NaN
4711    Frost, Sir Terry    Self-Portrait  ...    mm  55400.0
11838  Phillips, Esq Tom       [colophon]  ...    mm  59568.0

[39 rows x 9 columns]

In [0]:
#Transformation
#Equivalent of editing by hand:
#Make a case where there is no data to infer
small_df.loc[[11838,16441], 'medium'] = np.nan

In [129]:
small_df['medium'].isna()

id
16412    False
16413    False
16414    False
16415    False
16416    False
16417    False
16418    False
16419    False
16420    False
16421    False
16422    False
16423    False
16424    False
16425    False
16426    False
16427    False
16428    False
16429    False
16430    False
16431    False
16432    False
16433    False
16434    False
16435    False
16436    False
16437    False
16438    False
16439    False
16440    False
16441     True
4704     False
4705     False
4706     False
4707     False
4708     False
4709     False
4710     False
4711     False
11838     True
Name: medium, dtype: bool

In [0]:
values = {'medium': minval}
small_df = small_df.fillna(value=values)

In [134]:
small_df.tail()

                  artist            title  ... units     area
id                                         ...
4708    Frost, Sir Terry            Leeds  ...    mm  20875.0
4709    Frost, Sir Terry  Camping, Anduze  ...    mm  53713.0
4710    Frost, Sir Terry     Umea, Sweden  ...   NaN      NaN
4711    Frost, Sir Terry    Self-Portrait  ...    mm  55400.0
11838  Phillips, Esq Tom       [colophon]  ...    mm  59568.0

[5 rows x 9 columns]

Filtering :

Keep the books which has titles atleast 2 times in the dataset.

In [135]:
grouped_titles = df.groupby('title')
title_counts = grouped_titles.size().sort_values(ascending = False)

condition = lambda x: len(x.index) > 1
dup_titles_df = grouped_titles.filter(condition)
dup_titles_df.sort_values('title', inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [136]:
dup_titles_df.head()

                artist title             medium  ... height  units      area
id                                               ...
20571     Scully, Sean    #1  Aquatint on paper  ...  174.0     mm   20358.0
21345  Dunham, Carroll    #1  Drypoint on paper  ...  579.0     mm  226968.0
21346  Dunham, Carroll    #2  Drypoint on paper  ...  579.0     mm  226968.0
20572     Scully, Sean    #2  Aquatint on paper  ...  278.0     mm   89794.0
21347  Dunham, Carroll    #3  Drypoint on paper  ...  579.0     mm  226968.0

[5 rows x 9 columns]